*{
    font-family: 'Raleway_regular';
    line-height: 1;
}
body, header{
    padding: 0;
    margin: 0;
}
.container1600{
    max-width: 1600px;
    margin: 0 auto;
}

/**barre de recherche**/
.search-bar{
    display: flex;
}
.search-bar span{
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    display: block;
    background-color: var(--gris);
    background-image: url(../elements/medias/icone_map.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.search-bar input[type="submit"]{
    cursor: pointer;
    background: var(--bleu-fonce);
    border-radius: 0 15px 15px 0;
    border: none;
    font-family: 'Raleway_bold';
    color: var(--blanc);
    padding: 15px;
    font-size: 18px;
    transition: all .3s;
}
.search-bar input[type="submit"]:hover{
    transition: all .3s;
    background: var(--noir);
}
.search-bar input[type="search"]{
    border: solid 1px var(--gris);
    width: 300px;
    padding: 10px;
}
.search-bar input[type="search"]::placeholder, .search-bar input[type="search"]:focus, .search-bar input[type="search"]{
    font-family: 'Raleway_bold';
    color: var(--noir);
    font-size: 18px;
}

/**filtres**/
#filtres{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 10px;
}
#filtres p{
    font-family: 'Raleway_bold';
    font-size: 18px;
}
.filtre{
    cursor: pointer;
    font-family: 'Raleway_bold';
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    border: solid 2px var(--gris);
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 25px;
    background-color: var(--blanc);
    transition: all .3s;
}
.filtre:focus, .filtre:target{
    background-color: var(--bleu-clair);
}
.filtre .background-filtres{
    border: none;
    background: none;
    font-size: 17px;
    font-family: 'Raleway_bold';
}
.filtre:hover{
    transform: scale(1.05);
    transition: all .3s;
}
#economique::before, #familial::before, #romantique::before, #pepites::before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url(../elements/medias/icone_economique.svg);
    background-size: contain;
}
#familial::before{
    background-image: url(../elements/medias/icone_economique.svg);
}
#romantique::before{
    background-image: url(../elements/medias/icone_economique.svg);
}
#pepites::before{
    background-image: url(../elements/medias/icone_pepites.svg);
}

/**informations**/
#informations{
    display: flex;
    gap: 10px;
    align-items: center;
}
#informations p{
    font-size: 16px;
}
#infos{
    display: block;
    width: 24px;
    height: 24px;
    border: solid 2px var(--gris);
    border-radius: 50%;
    background-image: url(../elements/medias/icone_infos.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

/**hébergements et populaire**/
#hebergements-populaires{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#hebergements, #populaires{
    background-color: var(--gris);
    border-radius: 15px;
    padding: 30px;
    width: 65%;
}
#hebergements button{
    font-size: 18px;
    font-family: 'Raleway_bold';
    border: none;
    cursor: pointer;
    transition: all .3s;
    margin: 30px 0 0;
}
#hebergements button::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--noir);
    margin-top: 2px;
    transition: all .3s;
}
#hebergements button:hover::after{
    transition: all .3s;
    width: 100%;
}
#populaires{
    width: 25%;
}
h2{
    font-size: 22px;
    font-family: 'Raleway_bold';
}
.hebergements-articles, .populaires-articles{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 0;
    justify-content: space-between;
}
.populaires-articles{
    flex-direction: column;
    align-items: center;
}
.hebergements-articles article, .populaires-articles article{
    width: 30%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--blanc);
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all .3s;
}
.populaires-articles article{
    width: 100%;
    flex-direction: row;
}
.hebergements-articles article:hover, .populaires-articles article:hover{
    transform: scale(1.05);
    transition: all .3s;
}
.hebergements-articles article img{
    object-fit: cover;
    max-height: 124px;
    border-radius: 10px 10px 0 0;
    border: solid 4px var(--blanc);
    border-bottom: none;
}
.populaires-articles article img{
    object-fit: cover;
    min-height: 144px;
    max-height: 144px;
    max-width: 30%;
    min-width: 30%;
    border-radius: 10px 0 0 10px;
    border: solid 4px var(--blanc);
}
.info-article{
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h3{
    margin: 0;
    font-size: 19px;
    font-family: 'Raleway_bold';
}
.info-article p{
    margin: 0;
    font-size: 14px;
    font-family: 'Raleway_semibold';
}
.populaires-articles .global-etoiles{
    position: absolute;
    bottom: 15px;
}
.global-etoiles{
    display: flex;
    gap: 5px;
}
.etoile-bleu{
    display: block;
    height: 14px;
    width: 14px;
    background-image: url(../elements/medias/icone_etoile_bleu.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.etoile-grise{
    display: block;
    height: 14px;
    width: 14px;
    background-image: url(../elements/medias/icone_etoile_grise.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
#icone-populaires{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../elements/medias/icone_populaires.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#titre-populaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**activités**/
#activites-articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#activites-articles article{
    cursor: pointer;
    width: 22%;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all .3s;
}
#activites-articles article:hover{
    transition: all .3s;
    transform: scale(1.05);
}
#activites-articles article img{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    min-height: 380px;
    max-height: 380px;
    min-width: 100%;
    max-width: 100%;
}
#activites-articles article h3{
    margin: 15px;
}

/**footer**/
footer{
    background-color: var(--gris);
    max-width: none !important;
}
footer nav{
    display: flex;
}
footer p{
    font-size: 18px;
    font-family: 'Raleway_bold';
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    line-height: 1.8;
    color: var(--noir);
}