/* raleway-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway_regular';
    font-style: normal;
    font-weight: 400;
    src: url('../elements/fonts/raleway-v28-latin-regular.woff') format('woff');
  }
  /* raleway-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Raleway_bold';
    font-style: normal;
    font-weight: 700;
    src: url('../elements/fonts/raleway-v28-latin-700.woff') format('woff');
  }
  /* raleway-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway_semibold';
  font-style: normal;
  font-weight: 500;
  src: url('../elements/fonts/raleway-v28-latin-500.woff') format('woff');
}