header{
    position: fixed;
    z-index: 9;
    background-color: var(--blanc);
    height: 100px;
    width: 100%;
    max-width: 1600px;
}
header section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo span{
    display: none;
}
.logo img{
    width: 80px;
}
.menu-top{
    padding: 50px 0;
    margin: 0 50px;
    height: 100%;
    width: 250px;
    position: relative;
}
.menu-top ul{
    display: flex;
    padding: 0;
    width: 100%;
}
.menu-top li{
    display: flex;
    list-style-type: none;
    width: 100%;
}
.menu-top a{
    color: var(--noir);
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}
.menu-top a:hover{
    color: var(--bleu-fonce);
    transition: all .3s;
    font-family: 'Raleway_semibold';
}
.menu-top a:hover::before{
    content: '';
    display: block;
    width: 125px;
    height: 2px;
    background: var(--bleu-fonce);
    position: absolute;
    top: 0;
    left: 0;
}
.menu-top li:last-child a:hover::before{
    content: '';
    display: block; 
    width: 125px;
    height: 2px;
    background: var(--bleu-fonce);
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
}